@import '../geral/vars';
.badge {
    color: #F2E3B2;
}
.contato {
    display: inline-block;
    width: 22%;
    height: 420px;
    max-height: 420px;
    padding: 15px;
    background-color: #98B1CA;
    border-radius: 1%;
    margin: 25px 10px;
    box-shadow: 0 0 5px 1px gray;
    word-break: break-all;
    color: #333;
    
    .contato-imagem {
        height: 50%;
        max-height: 50%;
        max-width: 100%;
        img {
            width: 100%;
            height: 100%;
            max-height: 100%;
            max-width: 100%;
        }
    }
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 30px 0;
        padding-left: 0;
        
        li {
            &:first-child {
                margin: -20px 0 auto 0;
            }
            &:not(:first-child) {
                margin: 10px 0 0 0;
            }
        }
    }
}